
body {
	background-image: url(../img/okok.jpg);
    background-size: 2000px 1033px;
    background-repeat:no-repeat;
	background-margin: 100%;
}


.tit{
	margin-left:15%;
}
h1{
	font-size: 65px;
	
	color: #d3d3d3;
	font-family: Palatino Linotype;
	font-weight: bold;
	margin-top:50%;
	
}
#pippo{
	margin-top: 5%;
	margin-left:2%;
}

.secondo2 {
	margin-top: 20%;
}
.terzo1{
	margin-top: 37%;
	margin-left:2%;
	
}


